
.table-scroll {
    overflow-x: auto;
  }
  
  .breadcrumb {
    margin-bottom: 0;
  }
  
  .page-title {
    margin-top: 20px;
  }
  
  .modal-dialog-centered {
    display: flex;
    align-items: center;
    min-height: calc(100% - 1rem);
  }
  
  .modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0.3rem;
    outline: 0;
  }
  
  .modal-header {
    display: flex;
    align-items: center;
    padding: 1rem;
    border-bottom: 1px solid #e9ecef;
    border-top-left-radius: 0.3rem;
    border-top-right-radius: 0.3rem;
  }
  
  .modal-body {
    position: relative;
    flex: 1 1 auto;
    padding: 1rem;
  }
  
  .modal-footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 1rem;
    border-top: 1px solid #e9ecef;
    border-bottom-right-radius: 0.3rem;
    border-bottom-left-radius: 0.3rem;
  }
  
  .modal-title {
    margin-bottom: 0;
    line-height: 1.5;
  }
  
  .input-daterange {
    display: flex;
    justify-content: space-between;
  }
  
  .form-group {
    margin-bottom: 1rem;
  }
  
  textarea.form-control {
    height: 100px;
  }
  
  .btn-group {
    margin-right: 5px;
  }
  
  .card-table-history {
    margin-top: 20px;
  }
  
  .imei-title {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
  }
  
  .page-container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  
  .table-excel {
    width: 100%;
  }
  
  .col-orderid,
  .col-credit,
  .col-date,
  .col-action {
    display: none;
  }
  
  .status0 {
    background-color: #f8f9fa;
  }
  
  .order-status {
    padding: 5px;
  }
  
  .wrap-normal {
    white-space: normal !important;
  }
  
  .replay-code {
    display: flex;
    align-items: center;
  }
  
  .pagging {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .pagination {
    margin-bottom: 0;
  }
  
  .pagination .page-link {
    cursor: pointer;
  }
  
  .mt-4 {
    margin-top: 1.5rem !important;
  }
  